* {
    font-family: "Outfit", sans-serif;
    margin: 15px;
    padding: 0;
    text-align: center;
}

html {
    margin: 0;
    font-size: 15px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsl(212, 45%, 89%);
    min-height: 100vh;
    margin: 0;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: hsl(0, 0%, 100%);
    width: 320px;
    min-height: 500px;
    border-radius: 30px;
}

img {
    width: 290px;
    border-radius: 15px;
}

h1 {    
    color: hsl(218, 44%, 22%);
    font-size: 1.467em;
    font-weight: 700;
    padding: 0px 13px;
}

p {
    color: hsl(220, 15%, 55%);
    font-size: 1em;
    font-weight: 400;
    margin-top: 0;
    padding: 0px 13px;
}